<!DOCTYPE html>
<html>
  <head>
    <title>Tweebune</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'http://localhost:9292/faye.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = "banner-wrap">
      <div class = "banner">
        <h4>
          <a href='/'>          The Tweebune        </a>
        </h4>
        <%= render "user/input" %>
      </div>
      <div id="spinner" class="spinner" style="display:none;">
        <%= image_tag("spinner.gif") %>
      </div>
      <div class = "grid">
        <%= yield %>
      </div>

      <div class = "row footer">
        <footer>Powered by Twitter, Google & AlchemyAPI</footer>
      </div>
    </div>
  </div>

</body>

</html>


